@import "https://js.arcgis.com/4.26/@arcgis/core/assets/esri/themes/light/main.css";
@import "@esri/calcite-components/dist/calcite/calcite.css";

body {
  overflow: hidden;
  position: relative;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

/* .toggle-btn {
  position: absolute;
  right: 10px;
  top: 20px;
} */


.btn-container {
  width: auto;
  height: auto;
  position: absolute;
  top: 25px;
  right: 65px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.category-btn{
  margin: 5px;
  color: var(--calcite-ui-danger);
}

#search-bar{
  margin-top: 5px;
  margin-right: 10px;
  width: 270px
}
.searchAndButtonsContainer{
  position: absolute;
  top: 15px;
  left: 20px;
  display: flex;
  flex-direction: row;
}
